<%= form_for(@student) do |f| %>
  <ul>
    <% @student.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :major %>
    <%= f.text_field :major %>
  </p>
  <p>
    <%= f.label :class1 %>
    <%= f.text_field :class1 %>
  </p>
  <p>
    <%= f.label :class2 %>
    <%= f.text_field :class2 %>
  </p>
  <p>
    <%= f.label :class3 %>
    <%= f.text_field :class3 %>
  </p>
  <p>
    <%= f.label :class4 %>
    <%= f.text_field :class4 %>
  </p>
  <p>
    <%= f.label :class5 %>
    <%= f.text_field :class5 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
